.content {
  display: flex;
  justify-content: center;
}

.scrollbox::-webkit-scrollbar {
  width: 12px;
}

.scrollbox::-webkit-scrollbar-track {
  background: white;
}

.scrollbox::-webkit-scrollbar-thumb {
  background: white; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the scrollbar thumb */
}

.rightSidebar {
  position: fixed;
  top: 0;
  right: 5rem;
  width: 400px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.scrollbox {
  overflow-y: auto;
  height: 100vh;
}

.scrollboxInner {
  padding: 1rem; /* Optional: Add padding if needed */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header {
  margin: 1rem;
  padding: 0.5rem 1rem;
  background-color: var(--gray);
  border-radius: 20px;
  display: inline-block;
  font-size: medium;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: black;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the posts horizontally */
  gap: 1rem; /* Add space between posts */
}

.post {
  width: 100%; /* Ensure posts take full width of the container */
  max-width: 600px; /* Set a maximum width for the posts */
  margin: 0 auto; /* Center the posts within the container */
}

.textarea {
  width: 100%;
}

.addPostContainer {
  width: 600px;
}

.file {
  display: none; /* Hide the default file input */
}

.fileLabel {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px; /* Adjust size as needed */
  height: 40px;
  border-radius: 50%; /* Make it circular */
  background-color: #f3f4f6; /* Light gray background */
  transition: background-color 0.2s ease-in-out;
}

.fileLabel:hover {
  background-color: #e5e7eb; /* Slightly darker on hover */
}
